*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body{
    background: url("background.jpg");
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
}

header {
    background: #85C1E9;
    padding: 20px;
}

header > h1{
    color: black;
    text-align: center;
    padding: auto;
}

.Sign_in{
    padding: 20px, 20px, 20px, 20px;
    margin: 20px auto;
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    width: 350px;
    height: 450px;
    font-size: 15px;
    box-sizing: border-box;
}

.Sign_in > h1{
    text-align: center;
    margin-bottom: 30px;
}

.Sign_in p{
    margin: 0;
    padding-left: 20px;
    font-weight: bold;
}

.Sign_in input{
    padding-left: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.Sign_in input[type = "text"], input[type = "password"]{
    border: none;
    border-bottom: 1px solid #0D0F0F;
    background: transparent;
    outline: none;
    height: 30px;
}

.Sign_in p1{
    padding-left: 20px;
    font-weight: bold;
    font-style: Italic;
}

.Sign_in input[type = "submit"]
{
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background: #85C1E9;
    outline: none;
    height: 40px;
    cursor: pointer;
}


