*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body{
    background: url("background.jpg");
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
}

header{
    background: #85C1E9;
    padding: 30px;
}

header > h1{
    color: black;
    text-align: left;
    padding: auto;
    display: inline;
}

header a{
    margin-right: 1000px;
    padding: auto;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 200%;
}

.Sign_up{
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    font-size: 15px;
    box-sizing: border-box;
    margin: 30px 30px;
}

.Sign_up > h1{
    text-align: center;
    margin-bottom: 30px;
}

.Sign_up p{
    margin: 0;
    padding-left: 20px;
    font-weight: bold;
}

.Sign_up input{
    padding-left: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.accountid input[type = "text"], input[ type="password"]{
    border: none;
    border-bottom: 1px solid #0D0F0F;
    background: transparent;
    outline: none;
    height: 30px;
    width: 200px;
}

.name input[type = "text"]{
    border: none;
    border-bottom: 1px solid #0D0F0F;
    background: transparent;
    outline: none;
    height: 30px;
    width: 100px;
}

.basicinfo input[type="date"]
{
    width: 200px;
}

.address input[type = "text"]
{
    border: none;
    border-bottom: 1px solid #0D0F0F;
    background: transparent;
    outline: none;
    height: 30px;
    width: 200px; 
}

.city input[type = "text"]
{
    border: none;
    border-bottom: 1px solid #0D0F0F;
    background: transparent;
    outline: none;
    height: 30px;
    width: 200px; 
}

.other_info input[type = "text"]
{
    border: none;
    border-bottom: 1px solid #0D0F0F;
    background: transparent;
    outline: none;
    height: 30px;
    width: 200px; 
}

.submit input[type="submit"]
{
    border: none;
    border-radius: 20px;
    background: #85C1E9;
    outline: none;
    height: 40px;
    cursor: pointer;
    width: 200px;
    text-align:center;
}

