{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
    
    <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Make Appointment</legend>
                <div class="form-group">
                Primay Physician: {{primary}}
                </div>
           </fieldset>
                <div class="form-group">
                {{ form.submitDoctor(class="btn btn-outline-info") }}
                {% if approval %}
                {{ form.submitSpecialist(class="btn btn-outline-info") }}
                {% endif %}
                </div> 
      </form>
  </div>
{% endblock content %}
