{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <form method="POST" action ="">
        {{ form.hidden_tag() }}
        <fieldset class = "form-group">
          <legend class="border-bottom mb-4"><strong>Patient Registeration</strong></legend>
            <div class = "form-row">
                <div class = "form-group col-md-5">
                        {{ form.insur_id.label(class="form-control-label") }}
                        {% if form.insur_id.errors %}
                            {{ form.insur_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.insur_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.insur_id(class="form-control form-control-lg") }}
                        {% endif %}
                </div>
            
                <div class = "form-group col-md-5">
                {{ form.insur_name.label(class="form-control-label") }}
                {% if form.insur_name.errors %}
                    {{ form.insur_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.insur_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.insur_name(class="form-control form-control-lg") }}
                {% endif %}
                </div>
            </div>    
                <div class = "form-row">

                    <div class = "form-group col-md-5">
                        {{ form.expir_date.label(class="form-control-label") }}
                        {% if form.expir_date.errors %}
                            {{ form.expir_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.expir_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.expir_date(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class = "form-group col-md-5">
                            {{ form.insur_phone.label(class="form-control-label") }}
                            {% if form.insur_phone.errors %}
                                {{ form.insur_phone(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.insur_phone.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.insur_phone(class="form-control form-control-lg") }}
                            {% endif %}
                    </div>
            </div>
        </fieldset>
        
        <div class="form-group">
            Press Cancel if You do not Have Insurance<br>
            {{ form.cancel(class="btn btn-outline-info") }}<br>
            Press Submit to Add Insurance.<br>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    
    
  </div>
{% endblock content %}