<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Medical Center Design</title>
    <link rel="stylesheet" href ="../static/css/homepage_design.css">
  </head>
  <body>
    <header>
      <h3> <a href="index.html">Home</a></h3>
      <h1>Welcome to Group 9 Clinic</h1>
    </header>
    <div class="Sign_in" style = "padding-bottom: 10px;">
      <h1> Sign in</h1>
      <form>

        <p>UserName:</p>
        <input id = "username" type="text" name="user" placeholder="UserName">
        <p>Password:</p>
        <input id = "password" type="password" name="pass" placeholder="Password">

        <input type="submit" name="" value="Login" onclick = get_account()>
        <input type="submit" name="" value="Register" formaction="/register/">
      
      </form>
     
    </div>
  </body>
</html>