                    <div class="form-group col-md-5">
                        {{ form.from_date.label(class="form-control-label") }}

                        {% if form.from_date.errors %}
                            {{ form.from_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.from_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.from_date(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-3">
                        {{ form.to_date.label(class="form-control-label") }}

                        {% if form.to_date.errors %}
                            {{ form.to_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.to_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.to_date(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                        {{ form.submit(class="btn btn-outline-info")}}      