{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <form method="POST" action ="">
        {{ form.hidden_tag() }}
        <fieldset class = "form-group">
          <legend class="border-bottom mb-4"><strong>Patient Registeration</strong></legend>
          
            <div class = "form-group col-md-5">
              {{ form.officelocation.label(class="form-control-label") }}
              {% if form.officelocation.errors %}
                  {{ form.officelocation(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.officelocation.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.officelocation(class="form-control form-control-lg") }}
              {% endif %}
            </div>
        </fieldset>
        
        <div class="form-group">
            Press Next to Choose Primary Physician<br>
            {{ form.next_submit(class="btn btn-outline-info") }}
        </div>
      </form>
    
    
  </div>
{% endblock content %}