{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group" >
                <legend class="border-bottom mb-4"><strong>Register Account</strong></legend>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-7">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                     <div class="form-group col-md-6">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form.cpassword.label(class="form-control-label") }}
                        {% if form.cpassword.errors %}
                            {{ form.cpassword(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.cpassword.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.cpassword(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-5">
                        {{ form.firstname.label(class="form-control-label") }}

                        {% if form.firstname.errors %}
                            {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.firstname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-2">
                        {{ form.middleinitial.label(class="form-control-label") }}

                        {% if form.middleinitial.errors %}
                            {{ form.middleinitial(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.middleinitial.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.middleinitial(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>                  

                    <div class="form-group col-md-5">
                        {{ form.lastname.label(class="form-control-label") }}
                        {% if form.lastname.errors %}
                            {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.lastname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form.iam.label(class="form-control-label") }}

                        {% if form.iam.errors %}
                            {{ form.iam(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.iam.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.iam(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-4">
                        {{ form.sex.label(class="form-control-label") }}

                        {% if form.sex.errors %}
                            {{ form.sex(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.sex.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.sex(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-4">
                        {{ form.ethnicity.label(class="form-control-label") }}
                        {% if form.ethnicity.errors %}
                            {{ form.ethnicity(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.ethnicity.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.ethnicity(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-7">
                        {{ form.dob.label(class="form-control-label") }}

                        {% if form.dob.errors %}
                            {{ form.dob(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.dob.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.dob(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-5">
                        {{ form.phonenumber.label(class="form-control-label") }}
                        {% if form.phonenumber.errors %}
                            {{ form.phonenumber(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.phonenumber.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phonenumber(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>

                <hr>


                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form.streetnumber.label(class="form-control-label") }}

                        {% if form.streetnumber.errors %}
                            {{ form.streetnumber(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.streetnumber.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.streetnumber(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-7">
                        {{ form.streetname.label(class="form-control-label") }}
                        {% if form.streetname.errors %}
                            {{ form.streetname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.streetname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.streetname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                   <div class="form-group col-md-2">
                        {{ form.aptnumber.label(class="form-control-label") }}
                        {% if form.aptnumber.errors %}
                            {{ form.aptnumber(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.aptnumber.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.aptnumber(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>               
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form.city.label(class="form-control-label") }}

                        {% if form.city.errors %}
                            {{ form.city(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.city.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.city(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group col-md-5">
                        {{ form.statename.label(class="form-control-label") }}
                        {% if form.statename.errors %}
                            {{ form.statename(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.statename.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.statename(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                  <div class="form-group col-md-3">
                        {{ form.zipcode.label(class="form-control-label") }}
                        {% if form.zipcode.errors %}
                            {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.zipcode.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.zipcode(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}


