<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>Staff Post Page</title>
</head>
<body  style = "background-color:#001B5A;">
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">

              <div class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Appointment</strong></a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{url_for('staffPage',st_username = st_username)}}">Today's Appointments</a>
                      <a class="dropdown-item" href="{{url_for('staffApptSearch',st_username = st_username)}}">Look Up Appointment</a>
                      <a class="dropdown-item" href="{{url_for('staffMakeAppt', st_username = st_username)}}">Call In Appointment</a>
                      <a class="dropdown-item" href="{{url_for('cancelMissedAppt', st_username = st_username)}}">Missed Appointment</a>
                      </div>
                </li>
                  <a class="nav-item nav-link" href="{{ url_for('ClinicReport',st_username =st_username)}}">
                  <strong>Clinic-Report</strong></a>
              </div>
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('Staff_View', st_username = st_username)}}">
                <strong>Profile</strong></a>
                <a class="nav-item nav-link" href="{{ url_for('login') }}"><strong>Log Out</strong></a>
              </div>
            </div>
          </div>
        </nav>
      </header>
    <main role="main" class="container text-white">
      <h2 style = "color: white;">Staff Post</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blood Test Result</legend>
                <div class = "form-row">
                  <div class="form-group">
                      {{ form.white_blood.label(class="form-control-label") }}
                      {% if form.white_blood.errors %}
                          {{ form.white_blood(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.white_blood.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.white_blood(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>

                  <div class="form-group">
                        {{ form.red_blood.label(class="form-control-label") }}
                        {% if form.red_blood.errors %}
                            {{ form.red_blood(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.red_blood.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.red_blood(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                            {{ form.hemoglobin.label(class="form-control-label") }}
                            {% if form.hemoglobin.errors %}
                                {{ form.hemoglobin(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hemoglobin.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hemoglobin(class="form-control form-control-lg") }}
                            {% endif %}
                    </div>

                    <div class="form-group">
                            {{ form.hematocrit.label(class="form-control-label") }}
                            {% if form.hematocrit.errors %}
                                {{ form.hematocrit(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hematocrit.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hematocrit(class="form-control form-control-lg") }}
                            {% endif %}
                    </div>

                    <div class="form-group">
                            {{ form.mcv.label(class="form-control-label") }}
                            {% if form.mcv.errors %}
                                {{ form.mcv(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.mcv.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.mcv(class="form-control form-control-lg") }}
                            {% endif %}
                    </div>

                    <div class="form-group">
                            {{ form.mch.label(class="form-control-label") }}
                            {% if form.mch.errors %}
                                {{ form.mch(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.mch.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.mch(class="form-control form-control-lg") }}
                            {% endif %}
                    </div>

                    <div class="form-group">
                            {{ form.rdw.label(class="form-control-label") }}
                            {% if form.rdw.errors %}
                                {{ form.rdw(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.rdw.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.rdw(class="form-control form-control-lg") }}
                            {% endif %}
                    </div>
                </div>

                <div class = "form-row">
                        <div class="form-group">
                            {{ form.platelet.label(class="form-control-label") }}
                            {% if form.platelet.errors %}
                                {{ form.platelet(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.platelet.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.platelet(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
      
                        <div class="form-group">
                              {{ form.lymphocyte.label(class="form-control-label") }}
                              {% if form.lymphocyte.errors %}
                                  {{ form.lymphocyte(class="form-control form-control-lg is-invalid") }}
                                  <div class="invalid-feedback">
                                      {% for error in form.lymphocyte.errors %}
                                          <span>{{ error }}</span>
                                      {% endfor %}
                                  </div>
                              {% else %}
                                  {{ form.lymphocyte(class="form-control form-control-lg") }}
                              {% endif %}
                          </div>
      
                          <div class="form-group">
                                  {{ form.monocyte.label(class="form-control-label") }}
                                  {% if form.monocyte.errors %}
                                      {{ form.monocyte(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                          {% for error in form.monocyte.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                  {% else %}
                                      {{ form.monocyte(class="form-control form-control-lg") }}
                                  {% endif %}
                          </div>
      
                          <div class="form-group">
                                  {{ form.cholesterol.label(class="form-control-label") }}
                                  {% if form.cholesterol.errors %}
                                      {{ form.cholesterol(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                          {% for error in form.cholesterol.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                  {% else %}
                                      {{ form.cholesterol(class="form-control form-control-lg") }}
                                  {% endif %}
                          </div>
      
                          <div class="form-group">
                                  {{ form.iron.label(class="form-control-label") }}
                                  {% if form.iron.errors %}
                                      {{ form.iron(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                          {% for error in form.iron.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                  {% else %}
                                      {{ form.iron(class="form-control form-control-lg") }}
                                  {% endif %}
                          </div>
      
                          <div class="form-group">
                                  {{ form.sodium.label(class="form-control-label") }}
                                  {% if form.sodium.errors %}
                                      {{ form.sodium(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                          {% for error in form.mch.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                  {% else %}
                                      {{ form.sodium(class="form-control form-control-lg") }}
                                  {% endif %}
                          </div>
      
                          <div class="form-group">
                                  {{ form.potassium.label(class="form-control-label") }}
                                  {% if form.potassium.errors %}
                                      {{ form.potassium(class="form-control form-control-lg is-invalid") }}
                                      <div class="invalid-feedback">
                                          {% for error in form.rdw.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                  {% else %}
                                      {{ form.potassium(class="form-control form-control-lg") }}
                                  {% endif %}
                          </div>
                </div>

            </fieldset>
            <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>